body{
    font-family: fantasy;    
}

.bg-light{
    background-color:rgba(0, 0, 0, 100%) !important;

}

.nav-item img{
    background-color:white !important;
}

.filter{
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

.centralizado{
    margin: 0 auto !important;
    float: none;
}

.centered{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    font-size: 100px;
}

.centered_top{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered_bot{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-light{
    font-weight: bold;
    box-shadow: rgba(140, 079, 110, 100%);
    background-color: rgba(197, 127, 129, 100%);
}

.btn-light:hover{
    background-color: rgba(134, 190, 217, 100%);
}

.btn-light:hover span{
    color: rgba(140, 079, 110, 100%);
    
}

.bg-image1{
    background-image: url(imagens_harry/imagem1.jpeg);
}

.bg-pink-harry{
    background-color: rgba(197, 127, 129, 100%);
}

.bg-blue-harry{
    background-color: rgba(134, 190, 217, 100%);
}

.bg-white{
    background-color: white;
    padding: 0;
    margin: 0;
}

.bg-antique-white{
    background-color: antiquewhite !important;
}

.bg-pink-white{
    background-color: rgb(252, 241, 228) !important;
}

.filter-grey{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.text-pink-harry{
    text-decoration-color: rgba(197, 127, 129, 100%) !important;
    color: rgba(197, 127, 129, 100%) !important;;
}
.text-pink-harry :hover{
    text-decoration-color: rgba(0, 0, 0, 100%) !important;
}